h1{ color: blue;
    text-transform: capitalize;
}
#especial{letter-spacing: 3px; text-size-adjust: 8px;
    word-spacing: 8px;
    text-indent: 10px;
}
.h3esp{width: 30%;
text-align: right;}

.tnr{ font-size: 20px; font-family:'Times New Roman', Times, serif;}

.pesp{ text-align: justify; width: 500px;background-color: yellow;}